@import 'tailwindcss';

@theme {
  --font-cinzel: 'Cinzel', serif;
  --font-sans: 'Inter', sans-serif;

  --color-gold-300: #d6b46b;
  --color-gold-400: #b89343;
  --color-gold-500: #a17f34;
  --color-gold-600: #826424;
  
  --color-dark-800: #1a1a1a;
  --color-dark-900: #111111;
  --color-dark-950: #000000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #1f2937;
}

#root {
  width: 100%;
  min-height: 100svh;
}
